<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



<main style="background-color:gainsboro"  align="center" class="container">
  <div style="background-color: class="jumbotron">
  
    <h1 class="display-4"> Welcome to the <%= title %> page</h1>
    <h2> COMP229 Web Application Development</h2>
    <h3>Assignment 1</h3>
    <h4>Express Portfolio Site</h4>

    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>

  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>



  
  







